@model List<PortFolio>
@{
    ViewData["Title"] = "Saed Fahti";
}

@section SEO
{
    <meta name="keywords" content="project,portfolio"/>
    <meta name="description" content="index description"/>
}

<!-- One -->
<section id="one">
    <header class="major">
        <h2>
            @ViewData["headingTitle"]<br/>
        </h2>
    </header>
    <p>@ViewData["headingText"]</p>
    @*  <ul class="actions">
    <li><a href="#" class="button">Learn More</a></li>
    </ul>*@
</section>

<!-- Two -->
<section id="two">
    <h2>نمونه کارهای اخیر</h2>
    <div class="row">



        @foreach (var portfolio in Model)
        {
            <article class="6u 12u$(xsmall) work-item" style="width: 33%;">
                <a href="~/images/thumbs/@portfolio.Image" class="image fit thumb" alt="">
                    <img src="~/images/thumbs/@portfolio.Image" alt="@portfolio.Title" title="@portfolio.Title"/>
                </a>

                <h3 style="font-weight: normal; text-align: right;">@portfolio.Title</h3>
                <p style="font-weight: normal; text-align: right;">@portfolio.Description</p>

            </article>
        }

        @* <article class="6u 12u$(xsmall) work-item" style="width: 33%;">
            <a href="~/images/thumbs/02.jpg" class="image fit thumb" alt="">
                <img src="~/images/thumbs/02.jpg" alt="" title="" />
            </a>
            <h3 style="font-weight: normal; text-align: right;">لورم ایپسوم متن ساختگی</h3>
            <p style="font-weight: normal; text-align: right;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>

        </article> 
        <article class="6u 12u$(xsmall) work-item" style="width: 33%;">
            <a href="~/images/thumbs/03.jpg" class="image fit thumb" alt="">
                <img src="~/images/thumbs/03.jpg" alt="" title="" />
            </a>
            <h3 style="font-weight: normal; text-align: right;">لورم ایپسوم متن ساختگی</h3>
            <p style="font-weight: normal; text-align: right;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>

        </article>
          <article class="6u 12u$(xsmall) work-item" style="width: 33%;">
            <a href="~/images/thumbs/04.jpg" class="image fit thumb" alt="">
                <img src="~/images/thumbs/04.jpg" alt="" title="" />
            </a>
            <h3 style="font-weight: normal; text-align: right;">لورم ایپسوم متن ساختگی</h3>
            <p style="font-weight: normal; text-align: right;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>

        </article>*@



    </div>
</section>