<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | MyPortFolio</title>
    @RenderSection(name:"SEO",true)
    <link rel="stylesheet" href="~/css/skel.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/style-large.css" />
</head>
<body id="top">

    <!-- Header -->
    <header id="header">

        <a href="#" class="image avatar">
            <img src="~/images/avatar.jpg" alt="" />
        </a>
        <h1>
            <strong>من ساعد فتحی هستم</strong>,یک برنامه نویس و تریدر حرفه ایی <br />
            و همچنین هدفم اینه که مدرک IELTSم رو بگیرم. <br />
            
           
        </h1><br/>
        @*<a href="@Url.Action("Index",controller:"Home")">صفحه ی اصلی</a><br/>*@
        @*<a href="@Url.Action("Contact",controller:"Home")">تماس با ما</a>*@
        
        <a asp-controller="Home" asp-action="Index">صفحه ی اصلی</a><br/>
        <a asp-controller="Home" asp-action="Contact">تماس با ما</a>

    </header>

    <!-- Main -->
    <div id="main">

        @RenderBody();
    </div>

    <!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li>
            <a href="#" class="icon fa-twitter">
                <span class="label">Twitter</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon fa-github">
                <span class="label">Github</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon fa-dribbble">
                <span class="label">Dribbble</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon fa-envelope-o">
                <span class="label">Email</span>
            </a>
        </li>
    </ul>
</footer>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.poptrox.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
<script src="~/js/skel.min.js"></script>
<script src="~/js/init.js"></script>
    @RenderSection(name: "Scripts", required: false)

</body>

</html>

